<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo_104/blob/main/Reto1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## **Reto - Entrega 1:**
###**Limpieza, análisis, visualización y kmeans**

<img src="https://static.wikia.nocookie.net/tecdemonterrey/images/1/1b/Logo_Tec_azul.png/revision/latest?cb=20190219041656&path-prefix=es" width="230" />

Maestría en Inteligencia Artificial Aplicada

**Datos generales**
---
EQUIPO 104

**Integrantes:**
* Eddie Guadalupe Elorza Ruiz | **A01793547**
* Yves Turley Macias Vargas. | **A00813752**


>Materia: Ciencia y analítica de datos (Gpo 10)

>Profesor Titular: PhD. María de la Paz Rico Fdz

>Profesor Tutor: Victoria Guerrero Orozco

16 de noviembre 2022

-----

##**Limpieza, análisis, visualización y kmeans**
En esta base de datos encontraras:

*   Aguas subterraneas.
*   Aguas superficiales.

Elige una base de datos, ya sea la de aguas superficiales o la de aguas subterraneas.

*   Limpieza de base de datos.
*   Explorar  cada datos (auxiliate de describe(), mean(), plot, boxplot de pandas):

    Identificando tendencias centrales promedio, media y mediana de los datos. 
    Identificar medidas de dispersión, máximo, mínimo .
    Identificar medidas de posición no centrales, los cuartiles, outliers.   
    Identificar correlaciones.
    Preparar los datos 
*   Realizar análisis para encontrar si existe una relación entre la calidad del agua y su ubicación geográfica a través de K- means.
*   Mostrar resultados de agrupamiento de latitudes y longitudes con K means en el mapa de México.

In [ ]:
#Librerías a utilizar en el trabajo.
import pandas as pd
import numpy as np
import statistics as sts
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA

In [ ]:
#mandamos hablarle a nuestro dataset
df = pd.read_csv('https://raw.githubusercontent.com/PosgradoMNA/actividades-de-aprendizaje-YvTur/main/proyecto/Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_superficiales_2020%20-%20Datos_de_calidad_del_agua_de_sitios_de_monitoreo_de_aguas_superficiales_2020.csv') # Mandando a llamar la base de datos que utilizaremos definiendo el ";" como separador de datos
df.head()

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
0,DLAGU8,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LENTICO
1,DLBAJ100,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
2,DLBAJ101,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
3,DLBAJ102,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
4,DLBAJ103,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO

In [ ]:
#vamso a revisar el tamaño de la matriz
df

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
0,DLAGU8,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LENTICO
1,DLBAJ100,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
2,DLBAJ101,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
3,DLBAJ102,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
4,DLBAJ103,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,OCRBR5206M1,RIO SALADO PUENTE CARRETERO,RIO BRAVO,TAMAULIPAS,GUERRERO,RIO BRAVO 11,RIO SALADO,LOTICO,RIO,-99.42142,...,"CF,E_COLI,",SI,SI,SI,NO,NO,ND,SI,SI,LOTICO
3489,OCRBR5207M1,EL LAGUITO,RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 11,EL LAGUITO,LENTICO,LAGO,-99.53064,...,"DBO,DQO,CF,",NO,NO,SI,NO,SI,ND,SI,SI,LENTICO
3490,OCRBR5208M1,PUENTE INTERNACIONAL I NUEVO LAREDO,RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 11,RIO BRAVO,LOTICO,RIO,-99.50727,...,"DQO,",SI,NO,SI,SI,SI,ND,SI,SI,LOTICO
3491,OCRBR5209M1,RIO BRAVO FRENTE A COMAPA,RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 10,RIO BRAVO,LOTICO,RIO,-99.52221,...,"CF,",SI,SI,SI,NO,SI,ND,SI,SI,LOTICO
3492,OCRBR5210M1,RIO BRAVO 8 (PASO DE LOS INDIOS),RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 10,RIO BRAVO,LOTICO,RIO,-99.52572,...,"CF,",SI,SI,SI,NO,SI,ND,SI,SI,LOTICO

obtuvimos una matriz de 

3493 rows × 55 columns

In [ ]:
#revisamos los formatos de las columnas
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3493 entries, 0 to 3492
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CLAVE                   3493 non-null   object
 1   SITIO                   3493 non-null   object
 2   ORGANISMO_DE_CUENCA     3493 non-null   object
 3   ESTADO                  3493 non-null   object
 4   MUNICIPIO               3493 non-null   object
 5   CUENCA                  3492 non-null   object
 6   CUERPO DE AGUA          3479 non-null   object
 7   TIPO                    3493 non-null   object
 8   SUBTIPO                 3479 non-null   object
 9   LONGITUD                3493 non-null   float64
 10  LATITUD                 3493 non-null   float64
 11  PERIODO                 3493 non-null   int64
 12  DBO_mg/L                2581 non-null   object
 13  CALIDAD_DBO             2581 non-null   object
 14  DQO_mg/L                2581 non-null   object
 15  CALIDAD_DQO             2581 non-null   object
 16  SST_mg/L                3489 non-null   object
 17  CALIDAD_SST             3489 non-null   object
 18  COLI_FEC_NMP_100mL      2582 non-null   object
 19  CALIDAD_COLI_FEC        2582 non-null   object
 20  E_COLI_NMP_100mL        2582 non-null   object
 21  CALIDAD_E_COLI          2582 non-null   object
 22  ENTEROC_NMP_100mL       904 non-null    object
 23  CALIDAD_ENTEROC         904 non-null    object
 24  OD_PORC                 1797 non-null   object
 25  CALIDAD_OD_PORC         1797 non-null   object
 26  OD_PORC_SUP             1619 non-null   object
 27  CALIDAD_OD_PORC_SUP     1619 non-null   object
 28  OD_PORC_MED             487 non-null    object
 29  CALIDAD_OD_PORC_MED     487 non-null    object
 30  OD_PORC_FON             946 non-null    object
 31  CALIDAD_OD_PORC_FON     946 non-null    object
 32  TOX_D_48_UT             1816 non-null   object
 33  CALIDAD_TOX_D_48        1816 non-null   object
 34  TOX_V_15_UT             1819 non-null   object
 35  CALIDAD_TOX_V_15        1819 non-null   object
 36  TOX_D_48_SUP_UT         762 non-null    object
 37  CALIDAD TOX_D_48_SUP    762 non-null    object
 38  TOX_D_48_FON_UT         0 non-null      float64
 39  CALIDAD_TOX_D_48_FON    0 non-null      float64
 40  TOX_FIS_SUP_15_UT       1674 non-null   object
 41  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 42  TOX_FIS_FON_15_UT       0 non-null      float64
 43  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 44  SEMAFORO                3493 non-null   object
 45  CONTAMINANTES           2226 non-null   object
 46  CUMPLE_CON_DBO          3493 non-null   object
 47  CUMPLE_CON_DQO          3493 non-null   object
 48  CUMPLE_CON_SST          3493 non-null   object
 49  CUMPLE_CON_CF           3493 non-null   object
 50  CUMPLE_CON_E_COLI       3493 non-null   object
 51  CUMPLE_CON_ENTEROC      3493 non-null   object
 52  CUMPLE_CON_OD           3493 non-null   object
 53  CUMPLE_CON_TOX          3493 non-null   object
 54  GRUPO                   3493 non-null   object
dtypes: float64(6), int64(1), object(48)
memory usage: 1.5+ MB

In [ ]:
#Revisamso si tenemos valores faltantes
df.isnull().values.any()

True

In [ ]:
#El resultado anterior nos marco en efecto valores faltantes
#En nuestra primer etapa de validación de información,
#decidimos primero ubicar las columnas con elementos vacios
df.isna().any()

CLAVE                     False
SITIO                     False
ORGANISMO_DE_CUENCA       False
ESTADO                    False
MUNICIPIO                 False
CUENCA                     True
CUERPO DE AGUA             True
TIPO                      False
SUBTIPO                    True
LONGITUD                  False
LATITUD                   False
PERIODO                   False
DBO_mg/L                   True
CALIDAD_DBO                True
DQO_mg/L                   True
CALIDAD_DQO                True
SST_mg/L                   True
CALIDAD_SST                True
COLI_FEC_NMP_100mL         True
CALIDAD_COLI_FEC           True
E_COLI_NMP_100mL           True
CALIDAD_E_COLI             True
ENTEROC_NMP_100mL          True
CALIDAD_ENTEROC            True
OD_PORC                    True
CALIDAD_OD_PORC            True
OD_PORC_SUP                True
CALIDAD_OD_PORC_SUP        True
OD_PORC_MED                True
CALIDAD_OD_PORC_MED        True
OD_PORC_FON                True
CALIDAD_OD_PORC_FON        True
TOX_D_48_UT                True
CALIDAD_TOX_D_48           True
TOX_V_15_UT                True
CALIDAD_TOX_V_15           True
TOX_D_48_SUP_UT            True
CALIDAD TOX_D_48_SUP       True
TOX_D_48_FON_UT            True
CALIDAD_TOX_D_48_FON       True
TOX_FIS_SUP_15_UT          True
CALIDAD_TOX_FIS_SUP_15     True
TOX_FIS_FON_15_UT          True
CALIDAD_TOX_FIS_FON_15     True
SEMAFORO                  False
CONTAMINANTES              True
CUMPLE_CON_DBO            False
CUMPLE_CON_DQO            False
CUMPLE_CON_SST            False
CUMPLE_CON_CF             False
CUMPLE_CON_E_COLI         False
CUMPLE_CON_ENTEROC        False
CUMPLE_CON_OD             False
CUMPLE_CON_TOX            False
GRUPO                     False
dtype: bool

In [ ]:
#vamos a revisar los elementos faltantes, visto desde la perspectiva de nuestras columnas
df.isna().sum()

CLAVE                        0
SITIO                        0
ORGANISMO_DE_CUENCA          0
ESTADO                       0
MUNICIPIO                    0
CUENCA                       1
CUERPO DE AGUA              14
TIPO                         0
SUBTIPO                     14
LONGITUD                     0
LATITUD                      0
PERIODO                      0
DBO_mg/L                   912
CALIDAD_DBO                912
DQO_mg/L                   912
CALIDAD_DQO                912
SST_mg/L                     4
CALIDAD_SST                  4
COLI_FEC_NMP_100mL         911
CALIDAD_COLI_FEC           911
E_COLI_NMP_100mL           911
CALIDAD_E_COLI             911
ENTEROC_NMP_100mL         2589
CALIDAD_ENTEROC           2589
OD_PORC                   1696
CALIDAD_OD_PORC           1696
OD_PORC_SUP               1874
CALIDAD_OD_PORC_SUP       1874
OD_PORC_MED               3006
CALIDAD_OD_PORC_MED       3006
OD_PORC_FON               2547
CALIDAD_OD_PORC_FON       2547
TOX_D_48_UT               1677
CALIDAD_TOX_D_48          1677
TOX_V_15_UT               1674
CALIDAD_TOX_V_15          1674
TOX_D_48_SUP_UT           2731
CALIDAD TOX_D_48_SUP      2731
TOX_D_48_FON_UT           3493
CALIDAD_TOX_D_48_FON      3493
TOX_FIS_SUP_15_UT         1819
CALIDAD_TOX_FIS_SUP_15    1819
TOX_FIS_FON_15_UT         3493
CALIDAD_TOX_FIS_FON_15    3493
SEMAFORO                     0
CONTAMINANTES             1267
CUMPLE_CON_DBO               0
CUMPLE_CON_DQO               0
CUMPLE_CON_SST               0
CUMPLE_CON_CF                0
CUMPLE_CON_E_COLI            0
CUMPLE_CON_ENTEROC           0
CUMPLE_CON_OD                0
CUMPLE_CON_TOX               0
GRUPO                        0
dtype: int64

In [ ]:
#En esta etapa, decidimos eliminar las columnas que no nos aportaban información relevante para nuestro análisis
df.dropna(how="all", inplace = True)
df

,CLAVE,SITIO,ORGANISMO_DE_CUENCA,ESTADO,MUNICIPIO,CUENCA,CUERPO DE AGUA,TIPO,SUBTIPO,LONGITUD,...,CONTAMINANTES,CUMPLE_CON_DBO,CUMPLE_CON_DQO,CUMPLE_CON_SST,CUMPLE_CON_CF,CUMPLE_CON_E_COLI,CUMPLE_CON_ENTEROC,CUMPLE_CON_OD,CUMPLE_CON_TOX,GRUPO
0,DLAGU8,PRESA EL SAUCILLO 100M AGUAS ARRIBA DE LA CORTINA,LERMA SANTIAGO PACIFICO,AGUASCALIENTES,RINCON DE ROMOS,RIO SAN PEDRO,PRESA EL SAUCILLO,LENTICO,PRESA,-102.33911,...,"DQO,CF,",SI,NO,SI,NO,SI,ND,SI,SI,LENTICO
1,DLBAJ100,"LOS CABOS SEG 22, 2 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN JOSE DEL CABO,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.84290,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
2,DLBAJ101,"LOS CABOS SEG 22, 1 ISA10B",PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,OCEANO PACIFICO,COSTERO,OCEANO-MAR,-109.86442,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
3,DLBAJ102,LOS CABOS 3,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.88604,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
4,DLBAJ103,LOS CABOS 1,PENINSULA DE BAJA CALIFORNIA,BAJA CALIFORNIA SUR,LOS CABOS,SAN LUCAS,BAHIA SAN LUCAS,COSTERO,BAHIA,-109.89657,...,NaN,ND,ND,SI,ND,ND,SI,SI,SI,COSTERO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3488,OCRBR5206M1,RIO SALADO PUENTE CARRETERO,RIO BRAVO,TAMAULIPAS,GUERRERO,RIO BRAVO 11,RIO SALADO,LOTICO,RIO,-99.42142,...,"CF,E_COLI,",SI,SI,SI,NO,NO,ND,SI,SI,LOTICO
3489,OCRBR5207M1,EL LAGUITO,RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 11,EL LAGUITO,LENTICO,LAGO,-99.53064,...,"DBO,DQO,CF,",NO,NO,SI,NO,SI,ND,SI,SI,LENTICO
3490,OCRBR5208M1,PUENTE INTERNACIONAL I NUEVO LAREDO,RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 11,RIO BRAVO,LOTICO,RIO,-99.50727,...,"DQO,",SI,NO,SI,SI,SI,ND,SI,SI,LOTICO
3491,OCRBR5209M1,RIO BRAVO FRENTE A COMAPA,RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 10,RIO BRAVO,LOTICO,RIO,-99.52221,...,"CF,",SI,SI,SI,NO,SI,ND,SI,SI,LOTICO
3492,OCRBR5210M1,RIO BRAVO 8 (PASO DE LOS INDIOS),RIO BRAVO,TAMAULIPAS,NUEVO LAREDO,RIO BRAVO 10,RIO BRAVO,LOTICO,RIO,-99.52572,...,"CF,",SI,SI,SI,NO,SI,ND,SI,SI,LOTICO

In [ ]:
df.isnull().values.any()

True

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3493 entries, 0 to 3492
Data columns (total 55 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CLAVE                   3493 non-null   object
 1   SITIO                   3493 non-null   object
 2   ORGANISMO_DE_CUENCA     3493 non-null   object
 3   ESTADO                  3493 non-null   object
 4   MUNICIPIO               3493 non-null   object
 5   CUENCA                  3492 non-null   object
 6   CUERPO DE AGUA          3479 non-null   object
 7   TIPO                    3493 non-null   object
 8   SUBTIPO                 3479 non-null   object
 9   LONGITUD                3493 non-null   float64
 10  LATITUD                 3493 non-null   float64
 11  PERIODO                 3493 non-null   int64
 12  DBO_mg/L                2581 non-null   object
 13  CALIDAD_DBO             2581 non-null   object
 14  DQO_mg/L                2581 non-null   object
 15  CALIDAD_DQO             2581 non-null   object
 16  SST_mg/L                3489 non-null   object
 17  CALIDAD_SST             3489 non-null   object
 18  COLI_FEC_NMP_100mL      2582 non-null   object
 19  CALIDAD_COLI_FEC        2582 non-null   object
 20  E_COLI_NMP_100mL        2582 non-null   object
 21  CALIDAD_E_COLI          2582 non-null   object
 22  ENTEROC_NMP_100mL       904 non-null    object
 23  CALIDAD_ENTEROC         904 non-null    object
 24  OD_PORC                 1797 non-null   object
 25  CALIDAD_OD_PORC         1797 non-null   object
 26  OD_PORC_SUP             1619 non-null   object
 27  CALIDAD_OD_PORC_SUP     1619 non-null   object
 28  OD_PORC_MED             487 non-null    object
 29  CALIDAD_OD_PORC_MED     487 non-null    object
 30  OD_PORC_FON             946 non-null    object
 31  CALIDAD_OD_PORC_FON     946 non-null    object
 32  TOX_D_48_UT             1816 non-null   object
 33  CALIDAD_TOX_D_48        1816 non-null   object
 34  TOX_V_15_UT             1819 non-null   object
 35  CALIDAD_TOX_V_15        1819 non-null   object
 36  TOX_D_48_SUP_UT         762 non-null    object
 37  CALIDAD TOX_D_48_SUP    762 non-null    object
 38  TOX_D_48_FON_UT         0 non-null      float64
 39  CALIDAD_TOX_D_48_FON    0 non-null      float64
 40  TOX_FIS_SUP_15_UT       1674 non-null   object
 41  CALIDAD_TOX_FIS_SUP_15  1674 non-null   object
 42  TOX_FIS_FON_15_UT       0 non-null      float64
 43  CALIDAD_TOX_FIS_FON_15  0 non-null      float64
 44  SEMAFORO                3493 non-null   object
 45  CONTAMINANTES           2226 non-null   object
 46  CUMPLE_CON_DBO          3493 non-null   object
 47  CUMPLE_CON_DQO          3493 non-null   object
 48  CUMPLE_CON_SST          3493 non-null   object
 49  CUMPLE_CON_CF           3493 non-null   object
 50  CUMPLE_CON_E_COLI       3493 non-null   object
 51  CUMPLE_CON_ENTEROC      3493 non-null   object
 52  CUMPLE_CON_OD           3493 non-null   object
 53  CUMPLE_CON_TOX          3493 non-null   object
 54  GRUPO                   3493 non-null   object
dtypes: float64(6), int64(1), object(48)
memory usage: 1.5+ MB

In [ ]:
df.isnull().any()

CLAVE                     False
SITIO                     False
ORGANISMO_DE_CUENCA       False
ESTADO                    False
MUNICIPIO                 False
CUENCA                     True
CUERPO DE AGUA             True
TIPO                      False
SUBTIPO                    True
LONGITUD                  False
LATITUD                   False
PERIODO                   False
DBO_mg/L                   True
CALIDAD_DBO                True
DQO_mg/L                   True
CALIDAD_DQO                True
SST_mg/L                   True
CALIDAD_SST                True
COLI_FEC_NMP_100mL         True
CALIDAD_COLI_FEC           True
E_COLI_NMP_100mL           True
CALIDAD_E_COLI             True
ENTEROC_NMP_100mL          True
CALIDAD_ENTEROC            True
OD_PORC                    True
CALIDAD_OD_PORC            True
OD_PORC_SUP                True
CALIDAD_OD_PORC_SUP        True
OD_PORC_MED                True
CALIDAD_OD_PORC_MED        True
OD_PORC_FON                True
CALIDAD_OD_PORC_FON        True
TOX_D_48_UT                True
CALIDAD_TOX_D_48           True
TOX_V_15_UT                True
CALIDAD_TOX_V_15           True
TOX_D_48_SUP_UT            True
CALIDAD TOX_D_48_SUP       True
TOX_D_48_FON_UT            True
CALIDAD_TOX_D_48_FON       True
TOX_FIS_SUP_15_UT          True
CALIDAD_TOX_FIS_SUP_15     True
TOX_FIS_FON_15_UT          True
CALIDAD_TOX_FIS_FON_15     True
SEMAFORO                  False
CONTAMINANTES              True
CUMPLE_CON_DBO            False
CUMPLE_CON_DQO            False
CUMPLE_CON_SST            False
CUMPLE_CON_CF             False
CUMPLE_CON_E_COLI         False
CUMPLE_CON_ENTEROC        False
CUMPLE_CON_OD             False
CUMPLE_CON_TOX            False
GRUPO                     False
dtype: bool

In [ ]:
df.columns

Index(['CLAVE', 'SITIO', 'ORGANISMO_DE_CUENCA', 'ESTADO', 'MUNICIPIO',
       'CUENCA', 'CUERPO DE AGUA', 'TIPO', 'SUBTIPO', 'LONGITUD', 'LATITUD',
       'PERIODO', 'DBO_mg/L', 'CALIDAD_DBO', 'DQO_mg/L', 'CALIDAD_DQO',
       'SST_mg/L', 'CALIDAD_SST', 'COLI_FEC_NMP_100mL', 'CALIDAD_COLI_FEC',
       'E_COLI_NMP_100mL', 'CALIDAD_E_COLI', 'ENTEROC_NMP_100mL',
       'CALIDAD_ENTEROC', 'OD_PORC', 'CALIDAD_OD_PORC', 'OD_PORC_SUP',
       'CALIDAD_OD_PORC_SUP', 'OD_PORC_MED', 'CALIDAD_OD_PORC_MED',
       'OD_PORC_FON', 'CALIDAD_OD_PORC_FON', 'TOX_D_48_UT', 'CALIDAD_TOX_D_48',
       'TOX_V_15_UT', 'CALIDAD_TOX_V_15', 'TOX_D_48_SUP_UT',
       'CALIDAD TOX_D_48_SUP', 'TOX_D_48_FON_UT', 'CALIDAD_TOX_D_48_FON',
       'TOX_FIS_SUP_15_UT', 'CALIDAD_TOX_FIS_SUP_15', 'TOX_FIS_FON_15_UT',
       'CALIDAD_TOX_FIS_FON_15', 'SEMAFORO', 'CONTAMINANTES', 'CUMPLE_CON_DBO',
       'CUMPLE_CON_DQO', 'CUMPLE_CON_SST', 'CUMPLE_CON_CF',
       'CUMPLE_CON_E_COLI', 'CUMPLE_CON_ENTEROC', 'CUMPLE_CON_OD',
       'CUMPLE_CON_TOX', 'GRUPO'],
      dtype='object')

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
LONGITUD,3493.0,-100.359969,6.122773,-117.12403,-103.88231,-99.79553,-96.86023,-86.73215
LATITUD,3493.0,21.046992,3.893696,14.53491,18.39607,20.14898,22.82893,32.70650
PERIODO,3493.0,2020.000000,0.000000,2020.00000,2020.00000,2020.00000,2020.00000,2020.00000
TOX_D_48_FON_UT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_D_48_FON,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TOX_FIS_FON_15_UT,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CALIDAD_TOX_FIS_FON_15,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_verde = df[df.SEMAFORO == 'Verde'].copy()
df_rojo = df[df.SEMAFORO == 'Rojo'].copy()
df_amarillo = df[df.SEMAFORO == 'Amarillo'].copy()
dfs = [df_verde, df_rojo, df_amarillo]

In [ ]:
valores_numericos= ['DBO_mg/L','DQO_mg/L','SST_mg/L','COLI_FEC_NMP_100mL','E_COLI_NMP_100mL','ENTEROC_NMP_100mL','OD_PORC','OD_PORC_SUP','OD_PORC_MED',
             'OD_PORC_FON','TOX_D_48_UT','TOX_V_15_UT','TOX_D_48_SUP_UT','TOX_D_48_FON_UT','TOX_FIS_SUP_15_UT','TOX_FIS_FON_15_UT']

In [ ]:
#Limpieza Verdes
lista_verde = list()
lista_rojo = list()
lista_amarillo = list()

for name in valores_numericos:
  df_verde[name] = df_verde[name].astype('str')
  df_verde[name] = df_verde[name].str.replace('<1','1') 
  df_verde[name] = df_verde[name].str.replace('<2','2') 
  df_verde[name] = df_verde[name].str.replace('<3','3') 
  df_verde[name] = df_verde[name].str.replace('<10','10') 
  df_verde[name]= df_verde[name].astype('float')
  mean = df_verde[name].mean() #Here we will obtain the Mean of the columns engine-size
  df_verde[name]= df_verde[name].replace(np.nan, mean) #Here we will replace the data NaN with the mean value of the specific data
  lista_verde.append([name, mean])
  

#Limpieza Rojos
for name in valores_numericos:
  df_rojo[name] = df_rojo[name].astype('str')
  df_rojo[name] = df_rojo[name].str.replace('<1','1') 
  df_rojo[name] = df_rojo[name].str.replace('<2','2') 
  df_rojo[name] = df_rojo[name].str.replace('<3','3') 
  df_rojo[name] = df_rojo[name].str.replace('<10','10') 
  df_rojo[name]= df_rojo[name].astype('float')
  mean = df_rojo[name].mean() #Here we will obtain the Mean of the columns engine-size
  df_rojo[name]= df_rojo[name].replace(np.nan, mean) #Here we will replace the data NaN with the mean value of the specific data
  lista_rojo.append([name, mean])

#Limpieza Amarillos
for name in valores_numericos:
  df_amarillo[name] = df_amarillo[name].astype('str')
  df_amarillo[name] = df_amarillo[name].str.replace('<1','1') 
  df_amarillo[name] = df_amarillo[name].str.replace('<2','2') 
  df_amarillo[name] = df_amarillo[name].str.replace('<3','3') 
  df_amarillo[name] = df_amarillo[name].str.replace('<10','10') 
  df_amarillo[name]= df_amarillo[name].astype('float')
  mean = df_amarillo[name].mean() #Here we will obtain the Mean of the columns engine-size
  df_amarillo[name]= df_amarillo[name].replace(np.nan, mean) #Here we will replace the data NaN with the mean value of the specific data
  lista_amarillo.append([name, mean])

In [ ]:
df = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRnn_8tp8Ea7DR8vTMJ-TsDy3uZIlout4fQOKQ0lFHbvgCe7bZh2RXq7Lnp0OHe0ae-0z3PUsUBkeja/pub?gid=1189662219&single=true&output=csv',  encoding='latin-1')
df

,CALIDAD DEL AGUA PARA TOXICIDAD,CRITERIO,DESCRIPCION
0,No tÂ¢xico,TOX menor a 1,Agua no contaminada.Toxicidad no detectable.
1,Toxicidad baja,TOX mayor o igual a 1 y menor o igual a 1.33,Toxicidad baja
2,Toxicidad moderada,TOX mayor de 1.33 y menor a 5,Toxicidad moderada
3,Toxicidad alta,TOX mayor o igual a 5,Toxicidad alta
4,CALIDAD DEL AGUA PARA SST,CRITERIO,DESCRIPCION
5,Excelente,SST menor o igual a 25,"Clase de excepciÂ¢n, muy buena calidad."
6,Buena calidad,SST mayor de 25 y menor o igual a 75,Aguas superficiales con bajo contenido de soli...
7,Aceptable,SST mayor de 75 y menor o igual a 150,Aguas superficiales con indicio de contaminaci...
8,Contaminada,SST mayor de 150 y menor o igual a 400,Aguas superficiales de mala calidad con descar...
9,Fuertemente contaminada,SST mayor de 400,Aguas superficiales con fuerte impacto de desc...
10,CALIDAD DEL AGUA PARA ENTEROCOCOS FECALES,CRITERIO,DESCRIPCION
11,Excelente,ENTEROC menor o igual a 100,Agua no contaminada o condicion normal. No hay...
12,Buena calidad,ENTEROC mayor de 100 y menor o igual a 200,Aguas superficiales con calidad satisfactoria ...
13,Contaminada,ENTEROC mayor de 200 y menor o igual a 500,Aguas superficiales con contaminacion bacterio...
14,Fuertemente contaminada,ENTEROC mayor de 500,Aguas superficiales con fuerte contaminacion b...
15,CALIDAD DEL AGUA PARA E_COLI,CRITERIO,DESCRIPCION
16,Excelente,E_COLI menor o igual a 126,Agua no contaminada o condicion normal. No hay...
17,Buena calidad,E_COLI mayor de 126 y menor o igual a 576,Aguas superficiales con calidad satisfactoria ...
18,Aceptable,E_COLI mayor de 576 y menor o igual a 850,Aguas superficiales con calidad admisible como...
19,Contaminada,E_COLI mayor de 850 y menor o igual a 1000,Aguas superficiales con contaminacion bacterio...
20,Fuertemente contaminada,E_COLI mayor de 1000,Aguas superficiales con fuerte contaminacion b...
21,CALIDAD DEL AGUA PARA DQO,CRITERIO,DESCRIPCION
22,Excelente,DQO menor o igual a 10,Agua no contaminada.
23,Buena calidad,DQO mayor de 10 y menor o igual a 20,Aguas superficiales con bajo contenido de mate...
24,Aceptable,DQO mayor de 20 y menor o igual a 40,Con indicio de contaminacion. Aguas superficia...
25,Contaminada,DQO mayor de 40 y menor o igual a 200,Aguas superficiales con descargas de aguas res...
26,Fuertemente contaminada,DQO mayor de 200,Aguas superficiales con fuerte impacto de desc...
27,CALIDAD DEL AGUA PARA DBO5,CRITERIO,DESCRIPCION
28,Excelente,DBO menor o igual a 3,Agua no contaminada.
29,Buena calidad,DBO mayor de 3 y menor o igual a 6,Aguas superficiales con bajo contenido de mate...
30,Aceptable,DBO mayor de 6 y menor o igual a 30,Con indicio de contaminacion. Aguas superficia...
31,Contaminada,DBO mayor de 30 y menor o igual a 120,Aguas superficiales con descargas de aguas res...
32,Fuertemente contaminada,DBO mayor de 120,Aguas superficiales con fuerte impacto de desc...
33,CALIDAD DEL AGUA PARA COLI_FEC_superficiales,CRITERIO,DESCRIPCION
34,Excelente,COLI_FEC menor o igual a 100,Agua no contaminada o condicion normal. No hay...
35,Buena calidad,COLI_FEC mayor de 100 y menor o igual a 200,Aguas superficiales con calidad satisfactoria ...
36,Aceptable,COLI_FEC mayor de 200 y menor o igual a 1000,Aguas superficiales con calidad admisible como...
37,Contaminada,COLI_FEC mayor de 1000 y menor o igual a 10000,Aguas superficiales con contaminacion bacterio...
38,Fuertemente contaminada,COLI_FEC mayor de 10000,Aguas superficiales con fuerte contaminacion b...
39,CALIDAD DEL AGUA PARA OXIGENO DISUELTO _porcen...,CRITERIO,NaN
40,Excelente,OD mayor de 70 y menor o igual a 110,Excelente o rica en oxÂ¡geno.
41,Buena calidad,OD mayor de 50 y menor o igual 70; OD mayor a ...,Buena o moderada cantidad de oxÂ¡geno.
42,Aceptable,OD mayor de 30 y menor o igual 50; OD mayor a ...,Aceptable o de moderada deficiencia de oxÂ¡geno.
43,Contaminada,OD mayor de 10 y menor o igual 30; OD mayor a ...,Contaminada o con deficiencia de oxÂ¡geno.
44,Fuertemente contaminada,OD menor o igual a 10; OD mayor de 150,Fuertemente contaminada o anÂ¢xica.

In [ ]:
#DataFrame para valores de verde
escala_verde = ['Buena Calidad','Buena Calidad','Excelente','Aceptable','Excelente','Excelente','Excelente','Excelente','Excelente',
             'Excelente','Toxicidad Baja','Toxicidad Baja','Toxicidad Baja','NaN','Toxicidad Baja','NaN']
Verde_df_means = pd.DataFrame(lista_verde, columns = ['Nombre','Valor de la media'])
Verde_df_means['Escala Nueva'] = escala_verde
Verde_df_means

                Nombre  Valor de la media    Escala Nueva
0             DBO_mg/L           3.372192   Buena Calidad
1             DQO_mg/L          18.241230   Buena Calidad
2             SST_mg/L          24.810056       Excelente
3   COLI_FEC_NMP_100mL         281.205882       Aceptable
4     E_COLI_NMP_100mL          91.069853       Excelente
5    ENTEROC_NMP_100mL          18.582263       Excelente
6              OD_PORC          75.425573       Excelente
7          OD_PORC_SUP          82.649896       Excelente
8          OD_PORC_MED          78.641516       Excelente
9          OD_PORC_FON          74.517577       Excelente
10         TOX_D_48_UT           1.006513  Toxicidad Baja
11         TOX_V_15_UT           1.009210  Toxicidad Baja
12     TOX_D_48_SUP_UT           1.011264  Toxicidad Baja
13     TOX_D_48_FON_UT                NaN             NaN
14   TOX_FIS_SUP_15_UT           1.000000  Toxicidad Baja
15   TOX_FIS_FON_15_UT                NaN             NaN

In [ ]:
#Data Frame para Rojo
escala_rojo = ['Contaminada','Contaminada','Contaminada','Fuertemente contaminada','Fuertemente contaminada','Fuertemente contaminada','Aceptable','Excelente','Buena Calidad',
             'Buena Calidad','Toxicidad Baja','Toxicidad moderada','Toxicidad Baja','NaN','Toxicidad Baja','NaN']
Rojo_df_means = pd.DataFrame(lista_rojo, columns = ['Nombre','Valor de la media'])
Rojo_df_means['Escala Nueva'] = escala_rojo
Rojo_df_means

                Nombre  Valor de la media             Escala Nueva
0             DBO_mg/L          40.030949              Contaminada
1             DQO_mg/L         144.593989              Contaminada
2             SST_mg/L         201.451951              Contaminada
3   COLI_FEC_NMP_100mL      249035.327292  Fuertemente contaminada
4     E_COLI_NMP_100mL      210243.791045  Fuertemente contaminada
5    ENTEROC_NMP_100mL        6324.796078  Fuertemente contaminada
6              OD_PORC          49.159634                Aceptable
7          OD_PORC_SUP          75.384412                Excelente
8          OD_PORC_MED          61.630556            Buena Calidad
9          OD_PORC_FON          55.338647            Buena Calidad
10         TOX_D_48_UT           1.161204           Toxicidad Baja
11         TOX_V_15_UT           3.179268       Toxicidad moderada
12     TOX_D_48_SUP_UT           1.139708           Toxicidad Baja
13     TOX_D_48_FON_UT                NaN                      NaN
14   TOX_FIS_SUP_15_UT           1.082407           Toxicidad Baja
15   TOX_FIS_FON_15_UT                NaN                      NaN

In [ ]:
#Data Frame para Rojo
escala_amarillo = ['Buena Calidad','Buena Calidad','Aceptable','Fuertemente contaminada','Fuertemente contaminada','Excelente','Excelente','Excelente','Buena Calidad','Buena Calidad',
             'Toxicidad Baja','Toxicidad Baja','Toxicidad Baja','NaN','Toxicidad Baja','NaN']
Amarillo_df_means = pd.DataFrame(lista_amarillo, columns = ['Nombre','Valor de la media'])
Amarillo_df_means['Escala Nueva'] = escala_amarillo
Amarillo_df_means

                Nombre  Valor de la media             Escala Nueva
0             DBO_mg/L           3.821706            Buena Calidad
1             DQO_mg/L          18.644803            Buena Calidad
2             SST_mg/L          93.376443                Aceptable
3   COLI_FEC_NMP_100mL       12109.446364  Fuertemente contaminada
4     E_COLI_NMP_100mL        6901.537273  Fuertemente contaminada
5    ENTEROC_NMP_100mL          39.628571                Excelente
6              OD_PORC          77.476428                Excelente
7          OD_PORC_SUP          87.246667                Excelente
8          OD_PORC_MED          62.990196            Buena Calidad
9          OD_PORC_FON          53.175817            Buena Calidad
10         TOX_D_48_UT           1.004065           Toxicidad Baja
11         TOX_V_15_UT           1.000000           Toxicidad Baja
12     TOX_D_48_SUP_UT           1.001137           Toxicidad Baja
13     TOX_D_48_FON_UT                NaN                      NaN
14   TOX_FIS_SUP_15_UT           1.026016           Toxicidad Baja
15   TOX_FIS_FON_15_UT                NaN                      NaN